<div class="container-fluid">
  <h1>Edit Study Group</h1>
  <hr>
  <%= render 'shared/study_group_error_messages' %>
  <%= form_for @study_group do |f| %>
    <%= f.label 'Topic:' %>
    <%= f.text_field :topic %>
    <br>
    <%= f.label 'Institution:' %>
    <%= f.text_field :institution %>
    <br>
    <%= f.label 'Student Limit:' %>
    <%= f.text_field :student_limit %>
    <br>
    <div class="home-buttons">
      <%= f.submit 'Save', :class => "btn btn-lg btn-primary" %>
      <%= link_to 'Cancel', {controller: 'students', action: 'index'}, :class => "btn btn-lg btn-primary" %>
      <%= link_to 'Delete', {controller: 'students', action: 'destroy'}, :class => "btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
