<div class="container-fluid">
  <h1>Create Account</h1>
  <hr>
  <%= render 'shared/student_error_messages' %>
  <%= form_for @student do |f| %>
    <%= f.label 'Username:' %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
    <br>
    <%= f.label 'First Name:' %>
    <%= f.text_field :first_name %>
    <br>
    <%= f.label 'Last Name:' %>
    <%= f.text_field :last_name %>
    <br>
    <%= f.label 'Institution:' %>
    <%= f.text_field :institution %>
    <br>
    <%= f.label 'Discipline:' %>
    <%= f.text_field :discipline %>
    <br>
    <%= f.label 'School Of Study:' %>
    <%= f.text_field :school_of_study %>
    <br>
    <%= f.label 'Phone Number:' %>
    <%= f.text_field :phone_number %>
    <br>
    <div class="home-buttons">
      <%= f.submit :class => "btn btn-lg btn-primary" %>
      <%= link_to 'Cancel', {controller: 'students', action: 'index'}, :class => "btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
