<div class="container-fluid">
  <h1><%= @student.first_name %> <%= @student.last_name %></h1>
  <hr>
  <div class="container-left">
    <p>Institution:
    <%= @student.institution %></p>

    <p>School Of Study:
    <%= @student.school_of_study %></p>

    <p>Discipline:
    <%= @student.discipline %></p>

    <p>Phone Number:
    <%= @student.phone_number %></p>
  </div>
  <div class="home-buttons">
    <% if current_student.present? && current_student.id ==  @student.id %>
      <%= link_to 'Edit', {controller: 'students', action: 'edit'}, :class => "btn btn-lg btn-primary", :style => 'float: left;' %>
    <% else %>
    <%= link_to 'Invite to Group', "#", :class => "btn btn-lg btn-primary", :style => 'float: left;' %>
    <% end %>
    <%= link_to 'View Students', {controller: 'students', action: 'index'}, :class => "btn btn-lg btn-primary", :style => 'float: right;' %>
  </div>
</div>
