<div class="container-fluid">
  <h1>Student # <%= @student.id %></h1>
  <hr>
  <p>First Name: 
  <%= @student.first_name %>
  <p>Last Name:
  <%= @student.last_name %></p>
  <p>Institution:
  <%= @student.institution %></p>
  <p>School Of Study:
  <%= @student.school_of_study %></p>
  <p>Discipline:
  <%= @student.discipline %></p>
</div>
