<div class="container-fluid">
<h2>Study Sessions</h2>
<div class="header">
<%= form_tag( 'study_sessions/search', :method => :get, class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:data], class: "span2", placeholder: "Search Study Session" %>
      <%= select_tag(:filter, options_for_select(['Day']))%>
      <%= submit_tag("Search") %>
    </div>
  <% end %>
  <div class="home-buttons">
    <%= link_to 'New', { controller: 'study_sessions', action: 'new' }, :class => "btn btn-lg btn-primary", :style => 'float: left;' %>
  </div>
</div>
<table class="table">
  <thead>
    <th>Location</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th></th>
  </thead>
  <tbody>
    <% @study_sessions.each do |study_session| %>
      <tr>
        <td><%= study_group.location %></td>
        <td><%= study_group.day %></td>
        <td><%= study_group.start_time %></td>
        <td><%= study_group.end_time %></td>
        <td><%= link_to 'View', study_session %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
