<!DOCTYPE html>
<html>
  <head>
    <title>Study Up</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Home", root_path %></li>
            <% if logged_in? %>
            <li><%= link_to "Profile", current_student %></li>
            <li><%= link_to "Log Out", logout_path, method: :delete %></li>
            <li><%= link_to "Students", { controller: "students", action: "index" } %></li>
            <li><%= link_to "Study Groups", { controller: "study_groups", action: "index" } %></li>
            <% unless current_student.study_groups.empty? %>
            <li><%= link_to "Study Sessions", { controller: "study_sessions", action: "index" } %></li>
            <%  end  %>
            <%  else %>
            <li><%= link_to "Log in", login_path %></li>
            <%  end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= image_tag "logo.png", :class => "img-responsive" %>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
